.categorys-list{
    
    column-count: 2 !important; /* عدد الأعمدة */
    column-gap: 1vh !important; /* المسافة بين الأعمدة */
    direction: rtl;
    
}









@media (min-width:600px){
    .categorys-list{
        column-count: 6 !important; 
        column-gap: 1vh !important; 
        
    }
}

@media (min-width:900px){
    .categorys-list{
        column-count: 8 !important; 
        column-gap: 1vh !important; 
        
    }
}